@media screen {
    body {
        background-color: rgb(221, 64, 161);
        color: rgb(255, 255, 255);
    }

    #formEmpleado {
        text-align: center;
        margin-top: 30%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3dvb;
    }

    #cedulaEmpleado, #passwordEmpleado {
        text-align: center;
        border-radius: none;
        width: 200px;
        height: 25px;
        margin-bottom: 10px;
        font-size: 15px;
        border-radius: 10px;
    }

    #loginEmpleado, #regresarAMine {
        border: none;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 90px;
    }



   

}